<?xml version="1.0" encoding="utf-8"?>
<configuration>
  
<connectionStrings><add name="lpojEntities" connectionString="metadata=res://*/Database.csdl|res://*/Database.ssdl|res://*/Database.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=10.151.34.45;User Id=root;password=dotnetde;Persist Security Info=True;database=lpoj&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>